
h4{
    color: lightgray;
}

h2{
    font-family: Calibri;
    color: cadetblue;
    font-size: 50px;
}
.table{
    font-weight: bold;
}

.danger{
    color: black;
}

.jumbotron{
    width: 700px;
    margin: auto;
}

.home{
    font-family: Calibri;
    text-align: center;
    font-size: 100px;
    color: cadetblue;
}


.nike{
    font-family: "Calibri Light";
    color: black;
    font-style: italic;
}

#myImg{
    height: 100px;
    width: 100px;
}

#myImg:hover {
    opacity: 0.7;
    height: 500px;
    width: 500px;
}
body, html {
    height: 100%;
}

.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pd{
    background-image: url("N4.jpg");
}

.hm{
    background-image: url("N2.jpg");
}

.au{
    background-image: url("Nike1.jpg");
}